# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.
multiqc~=1.12
scanpy~=1.8.2
pandas~=1.4.1
anndata~=0.7.8
numpy~=1.21.5
scikit-learn~=1.0.2
matplotlib
scipy~=1.8.0
dask~=2022.3.0
pytest~=7.0.1
setuptools~=60.9.3
seaborn~=0.11.2
rpy2~=3.5.3
types-PyYAML
