# This requirements are for building the doc, not for production.
mkdocs
pytkdocs
anndata
mkdocstrings-python-legacy
multiqc
scikit-learn
matplotlib
llvmlite
numba
types-pyyaml
scanpy
numpy
nextflow
rpy2
